$bg-color: #1e1e2e;
$fg: #b662ff;
$accent: #cd95ff;
$subtext: #c1a1de;
$surface: #313244;

.music-widget {
  background-color: $bg-color;
  color: $fg;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.visual {
  margin-bottom: 15px;
  
  .cover-art {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-right: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  
  .cava-visualizer {
    margin-left:  5;
    font-family: "monospace";
    font-size: 10px;
    letter-spacing: 1px;
    color:  $fg;
    text-shadow: 0 0 6px rgba($fg, 0.5);
    margin-top: 10px;
    text-shadow: 0 0 3px $fg;
  }
}
.music-progress {
  padding: 5px 0;
  .position, .length {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 0.8rem;
    color: $subtext;
    margin: 0 10px;
    }
  .bar {
    trough {
      background-color: $surface;
      border-radius: 8px;
      border: none;
    }
    progress {
      background-color: $fg;
      border-radius: 12px;
    }
  }

}
.info {
  .song-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 8px;
  }

  .artist {
    font-size: 0.9rem;
    color: $subtext;
    margin-right: 20px;
  }


}

.controls {

  button {

    font-size: 1.8rem;
    padding: 0 10px;
    color: $fg;
    transition: all 0.2s;

    &:hover {
      color: $accent;
    }
  }
}

.progress-bar {
  highlight {
    background-color: $accent;
    border-radius: 10px;
  }
  background-color: $surface;
  border-radius: 10px;
  min-height: 8px;
  margin-top: 10px;

  trough {
    min-height: 8px;
    border-radius: 10px;
  }
}